---

var works = [
    [
        {
            title: "Cloudflare Text-to-Image API",
            image: "/portfolio/cloudflare-text-to-image-api-300x300.png"
        },
        {
            title: "SAAS Full Stack Development",
            image: "/portfolio/hierarch-sample-loop-item-300x300.png"
        },
        {
            title: "Wordpress Development",
            image: "/portfolio/wordpress-elementor-300x300.png"
        },
        {
            title: "N8N Workflow Automation",
            image: "/portfolio/n8n-send-emails-to-leads-300x300.png"
        }
    ],
    [
        {
            title: "Make.com Workflow Automation",
            image: "/portfolio/make-send-discovery-call-email-300x300.png"
        },
        {
            title: "SEO On-Page Audit",
            image: "/portfolio/initial-seo-onpage-audit-300x300.png"
        },
        {
            title: "Personal Dashboard",
            image: "/portfolio/personal-dashboard-astro-javascript-json-300x300.png"
        },
        {
            title: "Quantitative Finance",
            image: "/portfolio/quantitative-finance-kelly-criterion-calculation-python-300x300.png"
        }
    ]
]

---

<section class="works py-5">
    <div class="container p-5">

        <h2 class="text-center display-block mb-5">My Works</h2>

        {works.map((work) => (

            <div class="row">
                {work.map((project) => (

                    <div class="col-12 col-md-6 col-lg-3 mb-3">
                        <div class="card h-100 mb-0 p-0">
                            <div class="text-center">
                                <img src={project.image} alt={project.title} style="width:100%;height:auto;min-width:20px;min-height:20px;">
                            </div>
                            <h4 class="text-center display-block p-3">{project.title}</h4>
                        </div>
                    </div>

                ))}
            </div>

        ))}

        <div class="card">
            <div class="card-body text-center">
                <a href="/portfolio/" class="stretched-link text-decoration-none">
                    <h3>
                        View My Portfolio
                    </h3>
                </a>
            </div>
        </div>

    </div>
</section>
