---
---

<section class="skillset py-5">
    <div class="container p-5">

        <h2 class="text-center display-block mb-5">Skillset</h2>

        <div class="row gx-3">
            
            <div class="col-md-6 mb-3">
                <div class="card h-100 mb-0 p-5">
                    <div class="text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" style="width:100px;height:100px;min-width:20px;min-height:20px;" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-code skill-icon"><polyline points="16 18 22 12 16 6"></polyline><polyline points="8 6 2 12 8 18"></polyline></svg>
                    </div>
                    <h4 class="text-center">Full Stack Development</h4>
                    <hr>
                    <p>I build comprehensive, end-to-end web solutions, from the user interface to the server-side logic and database.</p>
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <div class="card h-100 mb-0 p-5">
                    <div class="text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" style="width:100px;height:100px;min-width:20px;min-height:20px;" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-merge skill-icon"><circle cx="18" cy="18" r="3"></circle><circle cx="6" cy="6" r="3"></circle><path d="M6 21V9a9 9 0 0 0 9 9"></path></svg>
                    </div>
                    <h4 class="text-center">Workflow Automation</h4>
                    <hr>
                    <p>I streamline and automate business processes to increase efficiency and reduce manual effort.</p>
                </div>
            </div>

        </div>

        <div class="row gx-3">

            <div class="col-md-6 mb-3">
                <div class="card h-100 m-0 p-5">
                    <div class="text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" style="width:100px;height:100px;min-width:20px;min-height:20px;" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search skill-icon"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                    </div>
                    <h4 class="text-center">Search Engine Optimization</h4>
                    <hr>
                    <p>I optimize websites to rank higher in search engine results, driving organic traffic and visibility.</p>
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <div class="card h-100 m-0 p-5">
                    <div class="text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" style="width:100px;height:100px;min-width:20px;min-height:20px;" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users skill-icon"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                    </div>
                    <h4 class="text-center">CRM</h4>
                    <hr>
                    <p>I implement and customize Customer Relationship Management systems to manage and analyze customer interactions and data.</p>
                </div>
            </div>

        </div>

        <div class="row gx-3 mb-3">

            <div class="col-md-6">
                <div class="card h-100 mb-0 p-5">
                    <div class="text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" style="width:100px;height:100px;min-width:20px;min-height:20px;" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus skill-icon"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>
                    </div>
                    <h4 class="text-center">Recruitment</h4>
                    <hr>
                    <p>I leverage technology to build and streamline the recruitment process, from sourcing candidates to managing the hiring pipeline.</p>
                </div>
            </div>

        </div>

        <div class="row gx-3">
            <div class="col-12">
                <div class="card mb-3 px-5 py-3 text-center services-card">
                    <a href="/services/" class="stretched-link text-decoration-none"><h3>Hire Me</h3></a>
                </div>
            </div>
        </div>

    </div>
</section>

<style>

    .card {
        border: 1px solid #ddd;
        border-radius: 10px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

</style>
