---
---

<section class="about-me py-5 text-white" style="background-color: var(--bs-secondary);">
    <div class="container text-center py-5 my-5">

        <h2 class="mb-4">
            <span>About Me</span>
        </h2>

        <p class="lead">I am a passionate Full Stack Developer with expertise in creating dynamic, high-performance web applications and streamlining business processes. My skill set includes workflow automation, Search Engine Optimization, and CRM integration, allowing me to build comprehensive solutions that drive efficiency and growth.</p>

        <div class="display-block">

            <span class="badge rounded-pill text-bg-light p-2 mb-3">Full Stack Development</span>
            <span class="badge rounded-pill text-bg-light p-2 mb-3">Workflow Automation</span>
            <span class="badge rounded-pill text-bg-light p-2 mb-3">Search Engine Optimization</span>
            <span class="badge rounded-pill text-bg-light p-2 mb-3">CRM</span>
            <span class="badge rounded-pill text-bg-light p-2 mb-3">Recruitment</span>

        </div>

    </div>
</section>

<style>

</style>
